* {
    padding: 0;
    margin: 0;
}

.cTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: rgba(255,255,255,0.85);
    line-height: 10vw;
    font-weight: 700;
    text-align: center;
    width: 100vw;
    height: 30vw;
    background: rgba(255, 0, 0, 0.75);
}

.cMain {
    width: 100vw;
}

.cMainContain {
    text-align: center;
    margin: 6vw auto;
}

.cTopContain {
    text-align: center;
    margin: 6vw auto;
    line-height: 12vw;
    font-size: 3.4vw;
    color: rgba(0,0,0,0.75);
}

.info {
    margin: 4vw 2vw;
    box-shadow: 0 0 6vw rgba(0,0,0,0.1);
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 2.8vw;
    padding: 4vw auto;
}

.cInfo {
    display: flex;
    width: 88%;
    margin: 2.6vw 6%;
    color: rgba(0,0,0,0.6);
    justify-content: space-between;
    align-items: center;
    font-size: 3.4vw;
    line-height: 8vw;
}

.cRow {
    display: flex;
    width: 74vw;
    margin: 4vw 13vw;
    justify-content: center;
    align-items: center;
}

.cConfirm {
    margin: 6vw auto;
}

.topWord {
    height: 8vw;
    line-height: 8vw;
    border-bottom-left-radius: 8vw;
    border-bottom-right-radius: 8vw;
    color: rgba(255,255,255,0.9);
    font-weight: 500;
    font-size: 3.4vw;
    text-align: center;
    background: rgba(255, 0, 0, 0.75);
}

.cButton {
    background: rgba(66, 62, 255, 0.93);
    height: 8vw;
    width: 64vw;
    margin: 2vw 18vw;
    color: rgba(255,255,255,0.95);
    font-weight: 600;
    font-size: 3vw;
    line-height: 8vw;
    text-align: center;
    border-radius: 1vw;
}

.cLeft {
    color: rgba(0,0,0,0.75);
    font-size: 3vw;
    line-height: 8vw;
    width: 15%;
    height: 8vw;
    text-align: center;
    font-weight: 700;
}

.cRight {
    color: rgba(0,0,0,0.52);
    /*width: 51.2vw;*/
    width: 85%;
    font-size: 3vw;
    line-height: 8vw;
    height: 8vw;
    text-align: left;
}

.cInput {
    color: rgba(0,0,0,0.52);
    width: 54vw;
    font-size: 3vw;
    line-height: 8vw;
    height: 8vw;
    border: solid 0.1vw rgba(0,0,0,0.1);
    border-radius: 1vw;
    padding: 0 3vw;
}

.cImg {
    margin: auto 18vw;
    width: 64vw;
}

.cTip {
    margin: 2vw auto;
    font-size: 3vw;
    color: rgba(0,0,0,0.4);
    line-height: 6vw;
    height: 6vw;
}
